@font-face {
  src: url(www/style/AnglicanText.ttf);
  font-family: anglican;
}

@font-face {
  src: url(www/style/Blacklettersh.ttf);
  font-family: blackletter;
}

@font-face {
  src: url(www/style/DeutscheZierschrift.ttf);
  font-family: deutsche;
}

html {
  background-color: beige;
}

div.container_main {
  display: flex;
  justify-content: space-evenly;
}

body {
  margin: 0;
  background-color: beige;
  color: black;
  text-align: justify;
  padding-top: 25px;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 0px;
  font-size: 1.2em;
  text-justify: auto;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

a:hover {
  color: red;
  text-decoration: underline;
  transition-duration: 250ms;
}

.paypal_button {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.title_top {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.title_part {
  height: 100%;
  padding: 30px;
  font-size: 20pt;
  padding-top: 50px;
  color: red;
  font-variant: small-caps;
}

span.do_title {
  font-family: deutsche;
  font-size: 60pt;
}

.home_menu {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  font-size: 2em;
}

.site_backstory {
  display: block;
  /*
			display: flex;
			justify-content: space-evenly;
			*/
  padding-right: 20px;
  padding-left: 20px;
}

p.backstory_parts {
  padding: 20px;
}

.col_right {
  border-left: solid 2px black;
}

.home_bottom_menu {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  /*font-size: 1.5em*/
}

div.image_aside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
}

hr {
  /* Does not work for Chrome -- replace with div */
  color: red;
}
