@font-face {
  src: url(Canterbury.ttf);
  font-family: canterbury;
}

div.container_main {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  overflow-x: visible;
}

.title_top {
  display: flex;
  justify-content: center;
}

.title_part {
  height: 100%;
  padding: 30px;
  font-size: 20pt;
  padding-top: 30px;
  color: red;
  font-variant: small-caps;
  margin: 0;
}

.do_title {
  font-family: canterbury;
  font-size: 60pt;
  margin: 0;
}

.home_menu {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  font-size: 2em;
}

.home_menu > a {
  margin: 0;
}

.image_container {
  display: flex;
  flex-direction: row;
}

.image_main {
  width: 50%;
  height: auto;
}

.paypal_button {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.site_backstory {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left_column {
  display: block;
  /*width: 50%;*/
}
.col_right {
  border-left: solid 2px black;
}

div.image_aside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
