A:LINK {color:blue;}
A:VISITED {color:blue;}
H1 {text-align:center;color:black;font-style:italic;}
PRE {text-align:left;margin-left:20;}
.prm {color:black;font-weight:bold;font-style:italic;font-size:larger;}
.prmm {color:maroon;font-weight:bold;font-style:italic;font-size:larger;}
.prma {color:black;font-weight:bold}
.button {color:black;font-weight:bold;font-style:italic;font-size:larger;}
.buttona {color:black;font-weight:bold;}
.tadmn {color:black;font-weight:bold;font-style:italic;font-size:larger;}
